body{
  background-color: aqua;
}

img {
  border-radius: 14px;
  margin: 2px;
}

#grid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

#score{
  font-family: 'Courier New', Courier, monospace;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
